.main-container {
    margin-left: 40px;
    margin-top: 30px;
}

.main-container h1 {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}

.main-container p {
    font-size: 24px;
    font-weight: bold;
    color: #7E7E7E;
}

.main-container button {
    margin-top: 27px;
}